<header class="header">
  <div class="wrapper wrapper-content">
    <div class="header-menu">
      <nav class="header-menu-nav">
        <ul class="header-menu-nav-ul">
          {% for item in site.nav %}
          <li class="header-menu-nav-li"><a class="header-menu-nav-link com--nav-title" href="{{ site.baseurl }}/{{ item.url }}">{{item.name}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="header-info">
      <a class="header-info-name com-nav-sitename" href="{{ site.baseurl }}/">{{ site.sitename }}</a>
    </div>
  </div>
</header>
