<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-list-wrapper footer-col footer-col-1">
        <ul>
          <li><a href="/">{{site.data['ko'].footer.home}}</a></li>
          <li><a href="/about">{{site.data['ko'].footer.about}}</a></li>
          <li><a href="/cv">{{site.data['ko'].footer.cv}}</a></li>
          <li><a href="mailto:{{ site.email }}">{{site.data['ko'].footer.mailme}}</a></li>
        </ul>
        <p class="rss-subscribe">{{site.data['ko'].footer.subscribe}}<a href="{{ "/feed.xml" | prepend: site.baseurl }}">{{site.data['ko'].footer.rss}}</a></p>
      </div>
    </div>
  </div>
</footer>
