<h2 class="index-content-col-title com-sub-title">최근글</h2>
<ul class="container-posts-recent">
  {% for post in site.posts limit: 5 %}
    <li class="container-posts-recent-li">
      {% if post.img %}
        <div class="container-posts-recent-img-div post-img-div">
          <img class="container-posts-recent-img post-img" src="{{ post.img }}" alt="{{post.title}}">
        </div>
      {% endif %}
      <div class="container-posts-recent-info">
        <h3 class="container-posts-recent-title list-in--title">
          <a class="container-posts-recent-link com-post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
        <a href="{{ site.baseurl }}/category/{{ currentCategory }}" class="container-posts-recent-category com-post-category">{{ site.data[include.lang][currentCategory] }}</a>
        {% if post.desc %}
          <span class="container-posts-recent-desc com-post-sub-title">{{ post.desc }}</span>
        {% endif %}
        {% assign currentCategory = post.categories | first | slugify %}
        {% comment %}<span class="container-posts-recent-date com-post-date">{{ post.date | date: "%b %-d, %Y" }}</span>{% endcomment %}
      </div>
    </li>
  {% endfor %}
  </ul>
