{% if include.title %}
<h2 class="index-content-col-title com-sub-title">{{include.title}}</h2>
{% endif %}

<ul class="container-categories">
    {% for category in site.categories %}
    {% assign currentCategory = category | first | slugify %}
    <li class="container-categories-li">
      <a class="container-categories-link com-category-title sidebar-nav-item {% if page.category == currentCategory %}active{% endif %}"
        href="{{ site.baseurl }}/category/{{ currentCategory }}">{{ site.data[include.lang][currentCategory] }}
        <span class="container-categories-badge com-count-badge">{{ category | last | size }}</span>
      </a>
    </li>
    {% endfor %}
</ul>
