<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">JP</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon toggle-content mobile-only">{% include btn-menu.svg %}</a>

      <div class="desktop-only">
        <div class="trigger-pages-wrapper">
          {% include pages.html %}
        </div>
      </div>
      <div class="trigger hidden-content slide-up">
        <div class="trigger-sub-wrapper">
          <div class="trigger-pages-wrapper">
            {% include pages.html %}
          </div>
          <div class="trigger-categories-wrapper mobile-only">
            {% include categories.html %}
          </div>
          <div class="btn-close-wrapper mobile-only">
            <div class="btn-close toggle-content">{% include btn-close.svg %}</div>
          </div>
        </div>
      </div>
    </nav>

  </div>

</header>
