// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin media-query-min($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin shadow($shadow) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin text-selection-color {
  ::selection {
    @content;
  }
  /*** Works on common browsers ***/
  ::-moz-selection {
    @content;
  }
  /*** Mozilla based browsers ***/
  ::-o-selection {
    @content;
  }
  /***For Other Browsers ***/
  ::-ms-selection {
    @content;
  }
  ::-webkit-selection {
    @content;
  }
  /*** For Webkit ***/
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}
