$fontcolor: #222;

$fontSize22: 1.375rem;
$fontSize20: 1.125rem;
$fontSize16: 1rem;

$colorPink: #F5174E;
$colorBlue: #2A01F9;
$colorLightGray: #aaa;
$colorText: #1E1E1E;
$colorWhite: #fff;

/****************************************/

.com--nav-title { font-size: $fontSize22; color: #1E1E1E; font-weight: bold; @include media-query($on-palm) { font-size: $fontSize20; }}
.com-nav-sitename { font-size: $fontSize22; color: $colorPink; font-weight: 200; @include media-query($on-palm) { font-size: $fontSize20; }}
.com-nav-sitename--sub { font-size: $fontSize22; font-weight: bold; margin-right: 6px; }
.com-sub-title { font-size: $fontSize22; color: $fontcolor; font-weight: 200; }

.com-post-title { font-size: 1.6rem; color: $fontcolor; font-weight: bold; display: inline-block; @include media-query($on-palm) { font-size: $fontSize22; } line-height: 1.5; }
.com-post-category { color: $fontcolor; font-weight: 400; }
.com-post-sub-title { font-size: $fontSize16; font-weight: 200; }
.com-post-date { color: $colorLightGray; font-weight: 200; }
.com-category-title { font-size: 1.8rem; color: $colorText; font-weight: bold; }
.com-count-badge { color: $colorWhite; display: inline-block; padding: 0 10px; border-radius: 50px; background: #D6D6D6; vertical-align: top; font-size: 1rem; }

@include media-query-min($on-laptop) {
  .com--nav-title:hover,
  .com-post-title:hover { color: $colorBlue; }
  a.com-sub-title:hover,
  .com-category-title:hover,
  .com-post-category:hover { color: $colorPink; }
}

/****************************************/

.container-categories { padding: 0; margin: 0; }
.container-categories-li { margin-bottom: 28px;}
.container-categories-link { margin-right: 8px; }
.container-categories-badge {}

.container-posts-recent { padding: 0; margin: 0; }
.container-posts-recent-li { position: relative; min-height: 90px; margin-bottom: 18px; display: block; @include media-query($on-palm) { display: inline-block; min-height: auto; } }
.container-posts-recent-img-div {}
.container-posts-recent-img {}
.container-posts-recent-info { float: left; margin-top: 10px; @include media-query($on-palm) { float: none;} }
.container-posts-recent-title {}
.container-posts-recent-link {}
.container-posts-recent-category { margin-right: 6px; @include media-query($on-palm) { float: left; } }
.container-posts-recent-desc { @include media-query($on-palm) { float: left; max-width: 15rem; @include text-over(); @include clearfix; } }
.container-posts-recent-date { margin-left: 6px; @include media-query($on-palm) { display: block; margin-left: 0; clear: both; } }

.container-posts-by-category {}
.posts-by-category-title {}
.list-out { margin: 0; padding: 0; }
.list-out--li {}

@include media-query($on-palm) {
  .categories-content .list-out--li,
  .index-content .list-out--li {
    padding-top: 40px;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      background-color: #E8E8E8;
      width: 100%;
      height: 1px;
    }
  }
}


.list-out--title { padding: 0; margin-bottom: 30px; margin-top: 60px;
  @include media-query($on-palm) {
    margin-bottom: 10px;
    margin-top: 40px;
  }
}
.posts-by-category .list-out--title { margin-top: 0; }
.list-out--link { }
.list-in { margin: 0; padding: 0; }
.list-in--li {width: 100%; display: inline-block; margin-bottom: 18px; @include media-query($on-palm) { margin-bottom: 10px; } }
.list-in--inner { float: left; margin-top: 12px; }
.list-in--title { margin: 0; padding: 0; margin-bottom: 8px; }
.list-in--link { }
.list-in--sub { display: inline-block; margin-right: 6px; }
.list-in--date { @include media-query($on-palm) { display: block; } }
.list-in--img-wrap {}
.list-in--img {}
.post-img-div { float: left; margin-right: 20px; height: 90px; border-radius: 8px; overflow: hidden; display: inline-block; }
@include media-query($on-palm) {
  .post-img-div {
    display: none !important;
  }
}
.post-img { height: inherit; }
